/* .main {
    min-height: 200px;
    width: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

button {
    margin-left: 16px;
    margin-bottom: 20px;

} */