body {
  color: white;
}
.section {
  display: flex;
  justify-content: space-around;

}
.image-container {
  position: relative;
  transition:  transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform:  scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
}

.mr-2 {
  color: white;
}
.row {
  flex-direction: column;
}
.siyahi {
  width: 415px;
  border: 2px solid black;
}
.main {
  min-height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.button {
  margin-left: 16px;
  margin-bottom: 20px;

}
li {
  list-style: none;
}
